/*

body  {
   background-color: blue;
}

*/
h2 {
    color: rgb(114, 10, 10);
}

h1 {

    color: rgb(0, 0, 0);

}

h3{

color: rgb(98, 102, 117);

}

#Lançamento{

    color: blueviolet;
}

.oli{
    color: brown;
}