body {

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFB6C1;
  

}

.cracha {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 300px ;
    padding: 10px;
    margin: 240px auto;
    border: 5px solid #BFA1A5;
    font-size: 15px;  
    background-color: #B5FFC4 ; 
    
}

h1{

color: #000000;

}

h2{

border-bottom: 3px dashed;
padding-bottom: 20px;
color: #804B53;

}

p{

color: #24552E;

}