body {

background-image: url(imagens/Katana_ZERO.jpg) ; 
background-repeat: no-repeat;
background-size: cover;
color: #8A00C4;
}

h3{
   
    text-align: center;

}

p{

text-align: center;

}
div {

padding: 30px;

}